##este archivo 'requirements.txt' es de buena practica
## la idea es dejar constancia de los requerimientos
## del proyecto, y si en algun momento uno se cambia de pc
## puede ejecutar este archivo x terminal e instalar facilmente
## las dependencias utilizadas (ej: "pip3 install -r requirements.txt")

##framework
#django == 3.2.3

##para integrar estilos de form bootstrap con django
django-crispy-forms

##para manejo de imagenes
pillow
